<header class="site-header">
  <div class="wrapper nav-wrapper">
    <a class="site-logo" href="{{ '/' | relative_url }}" aria-label="Home">
      <img src="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}" alt="Site Logo" width="24" height="24"
        style="border-radius: 4px;">
    </a>

    <nav class="site-nav">
      <a class="page-link" href="{{ '/' | relative_url }}">Home</a>
      <a class="page-link" href="{{ '/blog/' | relative_url }}">Blog</a>
    </nav>
  </div>
</header>